@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif, Arial;
  }

  nav{
    padding: 0.7rem;
    background-color: #41B8D5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
}

img#icon{
  width: 5rem;
}
nav img{
    width: 3rem;
}

nav a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
}

div#nav{
    display: flex;
    gap: 5rem;
}

section#problema{
    display: flex;
    padding: 4rem;
    padding-bottom: 9rem;
    padding-top: 7rem;
    justify-content: space-around;
    background-color: #8adaee;
}

div#cont-problema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: #0f4f64;
}

div#cont-problema h1{
    font-size: 2.2rem;
    font-weight: bold;
}

div#cont-problema p{
    font-size: 1.5rem;
    font-weight: 600;
    width: 35rem;
}

section#problema img{
    width: 34rem;
}

section#data h2{
    color: #ffffff;
    text-align: center;
    font-size: 2.6rem;
}

section#data p{
    color: #ffffff;
    text-align: center;
    font-size: 1.4rem;
}




#data{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 3rem;
    background-color: #58c8e4;
    color: #fff;
    overflow: hidden;
  }
  
  .data-content{
    display: flex;
    flex-direction: row;
    transform: translateX(200%);
    transition: transform 1s ease;
  }
  
  .data-content:nth-of-type(even){
    transform: translateX(-200%);
  }
  
  .data-content.show{
    transform: translateX(0);
  }
  
  .data-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1.2rem;
  }
  
  .data-text a{
    color: #fff;
  }
  
  .data-text h3{
    font-size: 1.5rem;
    font-family: 'FF Unit Slab Pro', sans-serif;
  }
  
  .data-text p{
    font-size: 1.2rem;
    font-family: 'FF Unit Slab Pro', sans-serif;
  }
  
  .data-content img{
    height: 50vh;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  div.atendimento h3{
    font-size: 1.8rem;
  }

  section#footer{
    background-color: #0693B6;
    display: flex;
    justify-content: center;
    gap: 17rem;
    padding: 3rem;
}

section#footer img{
    width: 16rem;
}

section#footer a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
}


#cont-footer{
    display: flex;
    gap: 3rem;
    align-items: center;
}



#colum1, #colum2{
    line-height: 50px;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #057590;
    text-align: center;
    padding: 1.2rem;
    color: #fff;
    font-size: 1.1rem;
}